.addRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 60%;
   height: 90vh;
}

.addContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.addArea{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.addArea p{
   color: red;
}

.newTitle h3{
   margin-bottom: 0%;
}

.newTitle textarea{
   width: 97%;
}

.newText{
   margin-bottom: 2%;
}

.newText h3{
   margin-bottom: 0%;
}

.newText textarea{
   width: 97%;
}