.binaryCERoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 10%;
   height: 90vh;
}

.biContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.biCodeEdit{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.biCodeEdit p{
    margin-bottom: 1%;
}

.biCodeEdit textarea{
    width: 98%;
    font-size: 14px;
}

.biCodeEdit button{
    margin-top: 2%;
    margin-bottom: 2%;
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toBBinaryCode{
    margin-left: 5%;
    color: gray;
    cursor: pointer;
}

.toBBinaryCode:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}