.binaryCRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 0%;
   height: 280vh;
}

.biContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.biCodeArea{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.biCodeArea h2{
    margin-top: 0%;
}

.biCodeArea h3{
    margin-top: 5%;
    margin-bottom: 1%;
}

.biCodeArea p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.biCode{
    background-color: #e5e5e5;
    margin-top: 3%;
    margin-bottom: 3%;
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toBinaryCoEdit{
    margin-left: 5%;
    color: gray;
    cursor: pointer;
}

.toBinaryCoEdit:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toBinaryPractice{
    margin-left: auto;
    margin-right: 0%;
    color: blue;
    cursor: pointer;
}

.toBinaryPractice:hover{
    border-bottom: 1px solid blue;
}

.biComContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 5%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.biCocom{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.biCocom h2{
    margin-top: 0%;
    margin-bottom: 3%;
}

.coms p{
    margin-top: 0%;
    margin-bottom: 1%;
}