.biPraRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 75%;
   height: 100vh;
}

.biPraContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.biQuestion1{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.biQ1Figure{
    text-align: center;
}

.biQ1Image{
    width: 10%;
    margin-left: 2%;
}

.biQ1Image:hover{
    cursor: pointer;
}

.biQuestion2{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.biQ2Figure{
    text-align: center;
}

.biQ2Image{
    width: 10%;
    margin-left: 2%;
}

.biQ2Image:hover{
    cursor: pointer;
}

.biQuestion3{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.biQ3Figure{
    text-align: center;
}

.biQ3Image{
    width: 10%;
    margin-left: 2%;
}

.biQ3Answer{
    margin-bottom: 2%;
}

.biQ3Answer button{
    margin-top: 2%;
    margin-left: 2%;
}

.biQ3Answer p{
    margin: auto;
    display: flex;
    justify-content: center;
}

.biQ3Answer h3{
    margin: auto;
    display: flex;
    justify-content: center;
}

.biQuestion4{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   margin-bottom: 2%;
}

.biQ4Code{
    background-color: #e5e5e5;
}

.biQ4Code p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.biQ4Answer p{
    margin-bottom: 0%;
}

.biQ4Image{
    width: 40%;
    margin-bottom: 2%;
}

.biQ4Answer select{
    display: flex;
    flex-direction: column; 
}

.biQ4AnsMess{
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toBinaryExplain{
    margin-left: auto;
    margin-right: 0%;
    color: gray;
    cursor: pointer;
}

.toBinaryExplain:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toBinaryCode{
    margin-left: auto;
    color: gray;
    cursor: pointer;
}

.toBinaryCode:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}