.haPraRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 165%;
   height: 140vh;
}

.haPraContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.haQuestion1{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.haQ1Figure{
    text-align: center;
}

.haQ1Image{
    width: 20%;
}

.haQ1Answer{
   margin-bottom: 2%;
}

.haQ1Answer button{
    margin-top: 2%;
    margin-left: 2%;
}

.haQ1Answer p{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQ1Answer h3{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQuestion2{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.haQ2Figure{
    text-align: center;
}

.haQ2Image{
    width: 20%;
}

.haQ2Answer{
   margin-bottom: 2%;
}

.haQ2Answer button{
    margin-top: 2%;
    margin-left: 2%;
}

.haQ2Answer p{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQ2Answer h3{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQuestion3{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.haQ3Figure{
    text-align: center;
}

.haQ3Image{
    width: 20%;
}

.haQ3Answer{
   margin-bottom: 2%;
}

.haQ3Answer button{
    margin-top: 2%;
    margin-left: 2%;
}

.haQ3Answer p{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQ3Answer h3{
    margin: auto;
    display: flex;
    justify-content: center;
}

.haQuestion4{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   margin-bottom: 2%;
}

.haQuestion4 p{
   margin-top: 0%;
   margin-bottom: 0%
}

.haQ4Code{
    background-color: #e5e5e5;
    margin-top: 4%;
    margin-bottom: 2%;
}

.haQ4Code p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.haQ4Answer p{
    margin-bottom: 0%;
}

.haQ4Image{
    width: 40%;
    margin-bottom: 2%;
}

.haQ4Answer button{
    display: flex;
    flex-direction: column; 
}

.haQ4AnsMess{
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toHashExplain{
    margin-left: 47%;
    margin-right: 5%;
    color: gray;
    cursor: pointer;
}

.toHashExplain:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toHashCode{
    margin-left: auto;
    color: gray;
    cursor: pointer;
}

.toHashCode:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}


.haComContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 5%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.haPrcom{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.haPrcom h2{
    margin-top: 0%;
    margin-bottom: 3%;
}

.coms p{
    margin-top: 0%;
    margin-bottom: 1%;
}


