.hashCRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 160%;
   height: 100vh;
}

.haContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.haCodeArea{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.haCodeArea h2{
    margin-top: 0%;
}

.haCodeArea p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.haCode{
    background-color: #e5e5e5;
    margin-top: 3%;
    margin-bottom: 3%;
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toHashCoEdit{
    margin-left: 5%;
    color: gray;
    cursor: pointer;
}

.toHashCoEdit:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.tohashPractice{
    margin-left: auto;
    margin-right: 0%;
    color: blue;
    cursor: pointer;
}

.toHashPractice:hover{
    border-bottom: 1px solid blue;
}
