.home {
   background-color: #F6F9FD;
   height: 160vh;
   padding-bottom: 0%;
}


.title h1 {
   text-align: center;
   margin-top: 0%;
   margin-bottom: 0%;
}

.main {
   text-align: left;
   margin-top: 7%;
   margin-left: 25%;
   margin-right: 25%;
}

.search {
   margin-top: 0%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.search h3 {
   margin-top: 2%;
   margin-left: 2%;
   margin-bottom: 1%;
}

.search p {
   margin-top: 0%;
   margin-left: 2%;
   margin-right: 2%;
}

.how {
   margin-top: 10%;
   background-color: white;
   border: 1px solid #bdbdbd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.how h3 {
   margin-top: 2%;
   margin-left: 2%;
   margin-bottom: 0%;
}

.how ol {
  margin-top: 0%;
  list-style-type: none;
  padding-right: 7%;
}

.how li{
   padding-top: 1%;
   padding-bottom: 1%;
   border-bottom: 1px solid #bdbdbd;
}

.groupselect{
   margin-top: 10%;
   background-color: white;
   border: 1px solid #bdbdbd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.groupselect h3{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 2%;
}

.groupselect label{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 2%;
}

.groupselect input{
   margin-bottom: 2%;

}

.list {
   margin-top: 10%;
   background-color: white;
   border: 1px solid #bdbdbd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.list h3{
   margin-top: 2%;
   margin-bottom: 2%;
   margin-left: 2%;
}

.arg {
   display: flex;
}

.sennkei{
   width: 30%;
   margin-left: 2%;
   margin-bottom: 2%;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
   cursor: pointer;
}

.sennkei:hover{
   background-color: #eff4ff;
   border: 1px solid #0051ff;
   border-radius: 5px;
   box-shadow: 0px 0px 9px #dcdcdc;
}

.sennkei p{
   text-align: center;
}

.nibu{
   width: 30%;
   margin-left: 3%;
   margin-bottom: 2%;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
   cursor: pointer;
}

.nibu:hover{
   background-color: #eff4ff;
   border: 1px solid #0051ff;
   border-radius: 5px;
   box-shadow: 0px 0px 9px #dcdcdc;
}

.nibu p{
   text-align: center;
}

.hash{
   width: 30%;
   margin-left: 3%;
   margin-right: 2%;
   margin-bottom: 2%;
   border: 1px solid #b5b5b5;
   border-radius: 5px;
   cursor: pointer;
}

.hash:hover{
   background-color: #eff4ff;
   border: 1px solid #0051ff;
   border-radius: 5px;
   box-shadow: 0px 0px 9px #dcdcdc;
}

.hash p{
   text-align: center;
}

.research{
   margin-top: 10%;
   background-color: white;
   border: 1px solid #bdbdbd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.research h3{
   margin-top: 2%;
   margin-left: 2%;
   margin-bottom: 1%;
}

.research p {
   margin-top: 0%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 0%;
}

.researchtxt {
   padding-bottom: 3%;
}

.research a {
   display:block;
   margin-top: 0%;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 2%;
}

