.linearRoot {
   background-color: #F6F9FD;
   padding-top: 3%;
   padding-bottom: 10%;
   height: 90vh;
}

.liContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.liExplain{
   text-align: left;
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
}

.liExplain h2{
    margin-top: 0%;
    margin-bottom: 3%;
}

.liExplain p{
    margin-bottom: 2%;
}

.linearFigure{
    text-align: center;
}

.image{
    width: 10%;
    margin-left: 2%;
}

.linearFigure p{
    margin-top: 0%;
    margin-bottom: 3%;
}

.liCodeArea{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
}

.liCodeArea p{
    margin-top: 0%;
    margin-bottom: 0%;
}

.liCode{
    background-color: #e5e5e5;
    margin-top: 3%;
    margin-bottom: 3%;
}

.linkArea{
    border-top: 2px solid rgb(232, 232, 232);
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.toHome{
    margin-left: 0%;
    color: gray;
    cursor: pointer;
}

.toHome:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toLinearExEdit{
    margin-left: 5%;
    color: gray;
    cursor: pointer;
}

.toLinearExEdit:hover{
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.toLinearPractice{
    margin-left: auto;
    margin-right: 0%;
    color: blue;
    cursor: pointer;
}

.toLinearPractice:hover{
    border-bottom: 1px solid blue;
}

.toLinearCodea{
    margin-left: auto;
    margin-right: 0%;
    color: blue;
    cursor: pointer;
}

.toLinearCodea:hover{
    border-bottom: 1px solid blue;
}

.liComContainer {
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 5%;
   background-color: white;
   border: 1px solid #cdcdcd;
   border-radius: 10px;
   box-shadow: 0px 0px 7px #dcdcdc;
}

.liExcom{
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.liExcom h2{
    margin-top: 0%;
    margin-bottom: 3%;
}

.coms p{
    margin-top: 0%;
    margin-bottom: 1%;
}


